<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-row">
    @if (formGroup.get('contestTitle')?.invalid && formGroup.get('contestTitle')?.touched) {
      <label for="contestTitle" class="warning">Contest Title is required</label>
    } @else {
      <label for="contestTitle">Contest Title</label>
    }
    <input id="contestTitle" formControlName="contestTitle" type="text" />
  </div>

  <div class="form-row">
    @if (formGroup.get('contestDescription')?.invalid && formGroup.get('contestDescription')?.touched) {
      <label for="contestDescription" class="warning">Contest Description is required</label>
    } @else {
      <label for="contestDescription">Contest Description</label>
    }
    <input id="contestDescription" formControlName="contestDescription" type="text" />
  </div>

  <div class="form-row">
    <label for="opens">Opens</label>
    <input id="opens" formControlName="opens" type="date" />
    @if (formGroup.get('opens')?.invalid && formGroup.get('opens')?.touched) {
      <div>Opening date is required.</div>
    }
  </div>

  <div class="form-row">
    <label for="closes">Closes</label>
    <input id="closes" formControlName="closes" type="date" />
    @if (formGroup.get('closes')?.invalid && formGroup.get('closes')?.touched) {
      <div>Closing date is required.</div>
    }
  </div>

  <button class="col1" type="submit" [disabled]="formGroup.invalid">Add Contest</button>
  <button class="col2" (click)="cancel()">Cancel</button>
</form>
