<mh5-header></mh5-header>

@if (newContest()) {
  <mh5-scroll-contest-horizontal />
  <mh5-new-contest (closeNewContestEditor)="closeNewContest()" />
} @else {
  @if (newPlacement()) {
    <mh5-scroll-contest-horizontal />
    <mh5-new-placement (closeNewPlacementEditor)="closeNewPlacement()" />
  } @else {
    <mh5-scroll-contest-horizontal
      [theContestsInput]="theContests()"
      (newContestEditorStateChange)="openNewContest()"
      (newPlacementEditorStateChange)="openNewPlacement()" />
    <mh5-body />
  }
}

@if (showViewer) {
  <mh5-viewer></mh5-viewer>
}

<div></div>
