<div class="profileControl">
  @if (membersRanked().length === 0) {
    <span class="topicTitle">Poll: {{ pitchViewSelected().name }}</span>
    <button class="readyButton">Ready to rank</button>
  } @else {
    <span class="topicTitleTiny">
      <a class="topicTitleTinyHighlight">{{ pitchViewSelected().name }}</a
      ><br />
      Drag ⋮⋮⋮ to reorder. Click name for info.
    </span>
    <button class="profileButtonBright" (click)="PrepareToPostBallot()">Ready to post</button>
  }
</div>

<div class="candidate-container">
  <div
    cdkDropList
    #rankedList="cdkDropList"
    id="rankedDropList"
    [class.border-on-empty]="membersRanked().length === 0"
    [cdkDropListData]="membersRanked()"
    [cdkDropListConnectedTo]="[availableList]"
    cdkDropListOrientation="mixed"
    (cdkDropListDropped)="drop($event)">
    <div class="candidate-list ranked">
      @for (rankedMember of membersRanked(); track $index) {
        <div cdkDrag class="candidate" id="cand-{{ rankedMember.placementId }}" [attr.tabindex]="rankedMember.placementId">
          <span
            class="move-candidate-up"
            cdkDragHandle
            (click)="moveUpOnePosition(rankedMember)"
            (keydown)="moveUpOnePosition(rankedMember)"
            tabindex="1">
            @if ($index !== 0) {
              &#8593;
            }
          </span>
          <span class="sort-handle" cdkDragHandle></span>
          <span class="candidate-index" cdkDragHandle>{{ $index + 1 }}</span>
          <span
            class="candidate-ranked"
            cdkDragHandle
            (click)="viewPlacement(rankedMember)"
            (keypress)="viewPlacement(rankedMember)"
            tabindex="rankedMember.id">
            {{ rankedMember.placementView.caption }}</span
          >
          <button class="move-candidate-down" (click)="moveDownOnePosition(rankedMember)">&#8595;</button>
        </div>
      } @empty {
        <p>Ready to accept your preferences for {{ pitchViewSelected().name }}.</p>
        <p>Drag and reorder candidates here.</p>
      }
    </div>
  </div>
  @if (membersNotRanked().length !== 0) {
    <div class="title">
      <span>-</span>
      <span>Candidates for {{ pitchViewSelected().name }}</span>
      <span>-</span>
    </div>
  }

  <div
    cdkDropList
    #availableList="cdkDropList"
    id="availableDropList"
    [cdkDropListData]="membersNotRanked()"
    [cdkDropListConnectedTo]="[rankedList]"
    cdkDropListOrientation="mixed"
    (cdkDropListDropped)="drop($event)">
    <div class="candidate-list available">
      @for (unranked of membersNotRanked(); track $index) {
        <div
          cdkDrag
          class="candidate"
          (click)="moveToSelected(unranked)"
          (keydown)="moveToSelected(unranked)"
          [attr.tabindex]="unranked.placementId">
          <a class="candidate-unranked">{{ unranked.placementView.caption }}</a>
          <span class="add-candidate"></span>
        </div>
      } @empty {
        Finished all {{ pitchStore.slateView().slateMemberViews.length }} candidates for {{ pitchViewSelected().name }}.
      }
    </div>
  </div>
</div>
