.arrow {
  background-color: #002;
  color: #bb8;
  font-size: 20px;
  display: inline-block;
  border-bottom: 2px solid #e0e0e0;
}

.scroll-right {
  @extend .arrow;
  padding-left: 6px;
}
.scroll-left {
  @extend .arrow;
  padding-right: 4px;
}

.horizontal-scroll-container {
  display: flex;
  direction: horizontal;
}

.content-type-dropdown {
  background-color: #225;
  color: #ffffff;
  border: 1px solid #555555;
  border-radius: 4px;
  margin-left: 1px;
}

.content-type-dropdown option {
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 8px 12px;
}

.select-wrapper {
  border-bottom: 2px solid #e0e0e0;
}
