<div class="streamHeaderContainer">
  <div class="streamHeaderButtonGroup">
    <button class="streamButton left" (click)="gotoBallot()">Ballot</button>
    <button class="streamButton middle" (click)="gotoComments()">Comments</button>
    <button class="streamButton right" (click)="gotoResults()">Results</button>
  </div>
  @if (errorService.error) {
    <div class="error-message">{{ errorService.error }}</div>
  }
  <div class="streamHeaderCaption">
    <span>-</span>
    <span>{{ pitchViewSelected().name }}</span>
    <span>-</span>
  </div>
</div>
@for (slateMember of pitchViewSelected().slateView.slateMemberViews; track slateMember.id) {
  <div
    class="placementDisplayContainer"
    (click)="viewPlacement(slateMember)"
    (keypress)="viewPlacement(slateMember)"
    tabindex="slateMember.id">
    <div class="topBorder"></div>
    <mh5-home-slate-member [placementInput]="slateMember" />
  </div>
}
