.streamHeaderContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #001;
}

.streamHeaderButtonGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #999;
}

$content-text-color: #eef;
$content-visited-text-color: #dde;

.placementTitle:link {
  color: $content-text-color;
  text-decoration: underline;
}

.placementTitle:visited {
  color: $content-visited-text-color;
  text-decoration: none !important;
}

.topBorder {
  font-size: 16px;
  opacity: 55%;
  background-color: #333;
  padding-top: 5px;
  border-bottom: 1px inset #669;
  padding-left: 15px;
}
