<div class="streamHeaderContainer">
  <div class="streamHeaderButtonGroup">
    <button class="streamButton left" (click)="gotoBallot()">Ballot</button>
    <button class="streamButton middle" (click)="gotoComments()">Comments</button>
    <button class="streamButton right" (click)="gotoResults()">Results</button>
  </div>
  <div class="streamHeaderCaption">
    <span>-</span>
    <span>{{ pitchViewSelected().name }}</span>
    <span>-</span>
  </div>
  @for (slateMember of pitchViewSelected().slateView.slateMemberViews; track slateMember.id) {
    <div class="placementDisplayContainer">
      <div class="topBorder"></div>
      <mh5-home-pitch-member [placementInput]="slateMember" />
    </div>
  }
</div>
