<mh5-header callerPage="contest"></mh5-header>
@if (newContest()) {
  <mh5-contest-scroll-horizontal />
  <mh5-contest-new (closeNewContestEditor)="closeNewContest()" />
} @else {
  @if (newPlacement()) {
    <mh5-contest-scroll-horizontal />
    <mh5-folio-placement-new (closeNewPlacementEditor)="closeNewPlacement()" />
  } @else {
    <mh5-contest-scroll-horizontal
      [theContestsInput]="theContests()"
      (newContestEditorStateChange)="openNewContest()"
      (newPlacementEditorStateChange)="openNewPlacement()" />
    <mh5-body />
  }
}

@if (showViewer) {
  <mh5-viewer></mh5-viewer>
}
