<div class="header">
  @switch (callerPage()) {
    @case ('home') {
      <a (click)="openPage('/folio')" (keydown)="openPage('/folio')" tabindex="0" aria-label="demoText"> <mh5-icon-community /> </a>
      <div class="title">Mini Herald</div>
      <div><mh5-icon-share /></div>
    }
    @case ('pitch') {
      <a (click)="hidePlacementDisplay.emit(true)" (keydown)="hidePlacementDisplay.emit(true)" tabindex="0" aria-label="demoText">Done</a>
      <div class="title">Mini Herald - {{ caption() }}</div>
      <div><mh5-icon-share /></div>
    }

    @case ('folio') {
      <a (click)="openPage('/pitch')" (keydown)="openPage('/pitch')" tabindex="0" aria-label="demoText"> <mh5-icon-mh /> </a>
      <div class="title">Mini Herald - Author Channel</div>
      <a (click)="openPage('/author')" (keydown)="openPage('/author')" tabindex="0" aria-label="demoText"> <mh5-icon-profile /> </a>
    }

    @case ('ballot') {
      <a (click)="goBack()" (keydown)="goBack()" tabindex="0" aria-label="demoText"> Done</a>
      <div class="title">Mini Herald - Ballot</div>
      <div><mh5-icon-share /></div>
    }

    @case ('author') {
      <a (click)="goBack()" (keydown)="goBack()" tabindex="0" aria-label="demoText"> Done</a>
      <div class="title">Mini Herald</div>
      <a (click)="openPage('/dashboard')" (keydown)="openPage('/dashboard')" tabindex="0" aria-label="demoText"> <mh5-icon-dashboard /> </a>
    }

    @case ('profile') {
      <a (click)="goBack()" (keydown)="goBack()" tabindex="0" aria-label="demoText">Done</a>
      <div class="title">Mini Herald</div>
      <a (click)="openPage('/dashboard')" (keydown)="openPage('/dashboard')" tabindex="0" aria-label="demoText"> <mh5-icon-dashboard /> </a>
    }

    @case ('viewer') {
      <a (click)="hidePlacementDisplay.emit(true)" (keydown)="hidePlacementDisplay.emit(true)" tabindex="0" aria-label="demoText">Done</a>
      <div class="title">Mini Herald Viewer</div>
      <div><mh5-icon-share /></div>
    }
  }
</div>
