<div class="mainContainer">
  <div class="sectionMainTitle">Author Profile Management</div>
  <div class="sectionContentTitle">Account Identifier:</div>
  @if (author() === undefined || author().id.length === 0) {
    <div class="sectionContent">
      No account identifier found.
      <button style="margin-left: 2em" (click)="showConsentDialog()">Initialize Identifier</button>
    </div>
  } @else {
    <div class="sectionContent">{{ author().id }}</div>
  }

  @if (author().name !== authorDefaultName) {
    <div class="sectionContentTitle">Author Name:</div>
    <div class="sectionContent">{{ author().name }}</div>
  } @else {
    <div class="sectionMainTitle">Create Your Handle Name</div>
    <div class="sectionContentTitle">
      <input
        #newHandleInput
        class="newHandleInput"
        [ngModel]="channelName()"
        (ngModelChange)="channelName.set($event)"
        (keyup.enter)="initializeAuthorHandle()"
        placeholder="Awaiting entry" />
    </div>

    @if (isChannelNameOk() !== true) {
      <div class="sectionContentCaption" style="color: lightpink">
        Use letters and numbers (no spaces or symbols) up to 16 characters long.
      </div>
    } @else {
      <div class="sectionContentCaption">
        Channel <span style="color: white"> &#64;{{ channelName() }} </span>
      </div>
    }

    <div class="sectionContent">
      <button (click)="initializeAuthorHandle()" style="margin-top: 10px">Initialize Handle</button>
    </div>
  }

  <div class="sectionMainTitle">Activity</div>
  <div class="sectionContentTitle">Created --</div>
  <div class="sectionContent">{{ topFolio() }}</div>
  <div class="sectionContentTitle">Ballots Cast</div>
  <div class="sectionContent">
    @for (slate of ballotStore.slatesAuthored(); track $index) {
      <div>Pitch: {{ pitchById(slate.pitchId).name }}</div>
      <div class="ballotItem">
        <div class="ballotItemTitle">Top Slate {{ slate.isTopSlate }}</div>

        @for (member of slate.slateMemberViews; track $index) {
          <div class="ballotItemContent">
            <div class="ballotItemContentTitle">{{ member.rankOrder }} {{ member.placementView.caption }}</div>
          </div>
        }
      </div>
    }
  </div>
  <div class="sectionContentTitle">Placements Added</div>
  <div class="sectionContent">
    {{ author().authorFolio.placementViews.length }}
    <div class=""><button (click)="exportFolios()">Export Folios</button></div>
  </div>
  <div class="sectionContentTitle">Pitches Added</div>
  <div class="sectionContent">{{ author().pitches.length }}</div>

  <div class="sectionMainTitle">Actions Available</div>

  @if (isRunSomethingVisible()) {
    <mh5-backdoor />
  } @else {
    <div class="sectionContent">
      <p>Nothing today. Still in development</p>
    </div>
  }

  <div class="sectionContentTitle">Notices</div>
  <div class="sectionContent"><a style="color: #ddd" [routerLink]="['/tos']">Privacy and Terms of Service</a></div>
</div>

@defer (when showConsentPopup() === true) {
  <mh5-author-consent [forcePopup]="showConsentPopup()" (closeComponent)="closeConsentDialog()" />
}
