<div class="mainContainer">
  <div class="sectionMainTitle">Identity Management</div>
  <div class="sectionContentTitle">Account Identifier:</div>
  <div class="sectionContent">{{ authorStore.loggedInAuthor().id }}</div>

  @if (authorStore.loggedInAuthor().name) {
    <div class="sectionContentTitle">Author Name:</div>
    <div class="sectionContent">{{ authorStore.loggedInAuthor().name }}</div>
  } @else {
    <div class="sectionMainTitle">Create Your Author Handle</div>
    <div class="sectionContentTitle">
      <input
        class="newHandleInput"
        [ngModel]="channelName()"
        (ngModelChange)="channelName.set($event)"
        (keyup.enter)="InitializeAuthorHandle()"
        placeholder="Awaiting entry" />
    </div>

    @if (isChannelNameOk() !== true) {
      <div class="sectionContentCaption" style="color: lightpink">Use letters and numbers (no spaces or symbols) up to 16 characters long.</div>
    } @else {
      <div class="sectionContentCaption">
        Channel <span style="color: white"> &#64;{{ channelName() }} </span>
      </div>
    }

    <div class="sectionContent">
      <button (click)="InitializeAuthorHandle()" style="margin-top: 10px">Initialize Handle</button>
    </div>
  }

  <div class="sectionMainTitle">
    @if (authorStore.loggedInAuthor().authenticatorId !== undefined) {
      {{ authorStore.loggedInAuthor().authenticatorId }} Activity
    }
  </div>
  <div class="sectionContentTitle">Author Slates {{ authorStore.allAuthors().length }}</div>
  @for (author of authorStore.allAuthors(); track $index) {
    <div>{{ author.id }}: {{ author.name }}</div>
  }
  <div class="sectionContent"></div>

  <div class="sectionMainTitle">Actions Available</div>

  @if (isBackDoorOpen()) {
    <button (click)="runSomething()" style="margin: 10px">Run Test</button>
  } @else {
    <div class="sectionContent">
      <p>Nothing today. Still in development</p>
    </div>
  }

  <div class="sectionContentTitle">Notices</div>
  <div class="sectionContent"><a style="color: #ddd" [routerLink]="['/tos']">Privacy and Terms of Service</a></div>
</div>
