<div class="mainContainer">
  @if (authorStore.loggedInAuthor().authenticatorId) {
    @if (authorStore.loggedInAuthor().authenticatorId !== '0') {
      <div class="sectionMainTitle">Create Your Author Handle</div>
      <div class="sectionContentTitle">
        <input
          class="newHandleInput"
          [ngModel]="channelName()"
          (ngModelChange)="channelName.set($event)"
          (keyup.enter)="InitializeAuthorHandle()"
          placeholder="Awaiting entry" />
      </div>

      @if (isChannelNameOk() !== true) {
        <div class="sectionContentCaption" style="color: lightpink">Use letters and numbers (no spaces or symbols) up to 16 characters long.</div>
      } @else {
        <div class="sectionContentCaption">
          Channel <span style="color: white"> &#64;{{ channelName() }} </span>
        </div>
      }

      <div class="sectionContent">
        <button (click)="InitializeAuthorHandle()" style="margin-top: 10px">Initialize Handle</button>
      </div>
    }
  }

  <div class="sectionMainTitle">
    @if (authorStore.loggedInAuthor().authenticatorId !== undefined) {
      {{ authorStore.loggedInAuthor().authenticatorId }} Activity
    }
  </div>
  <div class="sectionContentTitle">Slates Ranked: 0</div>
  <!-- <div class="sectionContentTitle">Topics: {{ topicStore.authorTopics().length }}; Current={{ currentTopic().name }}</div>
    <div class="sectionContentTitle">TopicMembers: {{ topicStore.topicMemberCount() }}</div>
    <div class="sectionContentTitle">Pitches: {{ pitchStore.allPitchesByTopicId().length }}</div> -->
  <div class="sectionContent"></div>

  <div class="sectionMainTitle">Actions Available</div>

  @if (isBackDoorOpen()) {
    <button (click)="runSomething()" style="margin: 10px">runSomething</button>
  } @else {
    <div class="sectionContent">
      <p>Nothing today. Still in development</p>
    </div>
  }

  <div class="sectionMainTitle">Identity Management</div>
  <div class="sectionContentTitle">Account Identifier Vendor:</div>
  <div class="sectionContent">{{ authorStore.loggedInAuthor().authenticatorId }}</div>

  <div class="sectionContentTitle">Social Provider</div>
  <div class="sectionContent">Development</div>
  <div class="sectionContentTitle">Name at Provider / AuthorHandle <mh5-icon-timeline /></div>
  <div class="sectionContent">{{ authorStore.loggedInAuthor().name }} // {{ authorStore.loggedInAuthor().name }}</div>
  <div class="sectionContentTitle">Notices</div>
  <div class="sectionContent"><a style="color: #ddd" [routerLink]="['/tos']">Privacy and Terms of Service</a></div>
</div>
