@keyframes panGrid {
  0% {
    background-position:
      0 0,
      0 0;
  }
  100% {
    background-position:
      50px -50px,
      50px -50px;
  }
}

.container {
  position: relative;
  margin: 2px 0 6px 2px;
  padding: 2px;
  border: 1px solid #aa7;
  background-color: #113;
  color: #ffa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .col-left,
  .col-right {
    flex: 1;
    text-align: center;
  }

  .col-middle {
    flex: 0 1 auto;
    text-align: center;
    margin: 0 auto;
  }

  // pseudo-element overlay
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;

    z-index: 1;

    background: linear-gradient(rgba(200, 200, 200, 0.2) 1px, transparent 1px),
      linear-gradient(90deg, rgba(200, 200, 200, 0.1) 1px, transparent 1px);

    background-size: 50px 15.4px;
    pointer-events: none;

    // Animate the background, not the entire element
    animation: panGrid 20s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    z-index: 2;
    background-image: radial-gradient(circle, rgba(200, 200, 200, 0.5) 1px, transparent 1px);
    background-size: 50px 15.4px;
    background-position: 25px 7.7px;
    pointer-events: none;
    animation: panGrid 10s linear infinite;
  }
  span,
  .headerText {
    position: relative;
    z-index: 3;
  }
}
