@if (!hidePlacementViewer()) {
  @if (slateMember().placementView.assetView.mediaType === 'pitch') {
    <mh5-header callerPage="pitch" (hidePlacementViewer)="togglePlacementViewer($event)" [caption]="slateMember().placementView.caption" />
    <mh5-pitch-chooser [id]="slateMember().placementView.assetView.sourceId" />
  } @else {
    <div mh5SwipeRight (swipeRightDetected)="togglePlacementViewer(true)">
      <mh5-header callerPage="viewer" (hidePlacementViewer)="togglePlacementViewer($event)" />
      <div class="placement-viewer">
        <mh5-viewer [placementView]="slateMember().placementView" />
      </div>
    </div>
  }
} @else {
  <mh5-header callerPage="home" />
  <mh5-home-menu [returnToPitchFromView]="navigationId()" />
  <mh5-home-pitch
    (hidePlacementViewer)="togglePlacementViewer($event)"
    (placementToDisplay)="setSlateMemberView($event)"
    (pitchToDisplay)="setPitchView($event)" />
}

<div class="sticky-footer">
  <div class="footer" (click)="hideBackdoor.set(false)" (keydown)="hideBackdoor.set(false)" tabindex="0">
    &copy; Indaba Application Network 2024
  </div>
  <div class="footer">
    @defer (when hideBackdoor() === false) {
      <mh5-backdoor />
    }
  </div>
</div>
