@if (!hidePlacementViewer()) {
  @if (slateMember().placementView.assetView.mediaType === 'pitch') {
    <mh5-header callerPage="pitch" (hidePlacementDisplay)="togglePlacementViewer($event)" [caption]="slateMember().placementView.caption" />
    <mh5-pitch-shell [id]="slateMember().placementView.assetView.sourceId" />
  } @else {
    <mh5-header callerPage="viewer" (hidePlacementDisplay)="togglePlacementViewer($event)" />
    <div class="placement-display">
      <mh5-viewer [placementView]="slateMember().placementView" />
    </div>
  }
} @else {
  <mh5-header callerPage="home" />
  <mh5-home-menu [returnToPitchFromView]="navigationId()" />
  <mh5-home-pitch
    (hidePlacementViewer)="togglePlacementViewer($event)"
    (placementToDisplay)="setSlateMemberView($event)"
    (pitchToDisplay)="setPitchView($event)" />
}
