<div class="header">
  @switch (callerPage()) {
    @case ('contest') {
      <a (click)="openFolioPage()" (keydown)="openFolioPage()" tabindex="0" aria-label="demoText"> <mh5-icon-profile /> </a>
      <div class="title">Mini Herald</div>
      <div><mh5-icon-share /></div>
    }

    @case ('folio') {
      <a (click)="openContestPage()" (keydown)="openContestPage()" tabindex="0" aria-label="demoText"> <mh5-icon-mh /> </a>
      <div class="title">Mini Herald</div>
      <div><mh5-icon-share /></div>
    }

    @case ('author') {
      <a (click)="openFolioPage()" (keydown)="openFolioPage()" tabindex="0" aria-label="demoText"> <mh5-icon-community /> </a>
      <div class="title">Mini Herald</div>
      <a (click)="openContestPage()" (keydown)="openContestPage()" tabindex="0" aria-label="demoText"> <mh5-icon-mh /> </a>
    }
  }
</div>
