<div class="header">
  @switch (callerPage()) {
    @case ('contest') {
      <a (click)="openPage('/folio')" (keydown)="openPage('/folio')" tabindex="0" aria-label="demoText"> <mh5-icon-profile /> </a>
      <div class="title">Mini Herald</div>
      <div><mh5-icon-share /></div>
    }

    @case ('folio') {
      <a (click)="openPage('/author')" (keydown)="openPage('/author')" tabindex="0" aria-label="demoText"> <mh5-icon-profile /> </a>
      <div class="title">Mini Herald</div>
      <div><mh5-icon-share /></div>
    }

    @case ('author') {
      <a (click)="goBack()" (keydown)="goBack()" tabindex="0" aria-label="demoText"> Done </a>
      <div class="title">Mini Herald</div>
      <a (click)="openPage('/contest')" (keydown)="openPage('/contest')" tabindex="0" aria-label="demoText"> <mh5-icon-mh /> </a>
    }
    @case ('profile') {
      <a (click)="goBack()" (keydown)="goBack()" tabindex="0" aria-label="demoText">Done </a>
      <div class="title">Mini Herald</div>
      <div><mh5-icon-share /></div>
    }
  }
</div>
