Pitch: {{ pitchStore.pitchViewSelected().name }}
<div class="slatePortion" style="padding-top: 5px">
  <div class="horizontal-scroll">
    <div style="width: 45%">
      <div class="pitch-maker-header">Available: {{ slateMembersAvailable().length }}</div>
      <div class="slatePlacementContent">
        <div
          cdkDropList
          #availableList="cdkDropList"
          id="availableDropList"
          [cdkDropListData]="slateMembersAvailable()"
          [cdkDropListConnectedTo]="[rankedList]"
          (cdkDropListDropped)="drop($event)">
          <div class="folio-list">
            @for (candidate of slateMembersAvailable(); track candidate) {
              <div
                cdkDrag
                class="folio"
                (click)="addPlacementToPitch(candidate)"
                (keydown)="addPlacementToPitch(candidate)"
                [attr.tabindex]="candidate.placementView.caption">
                <a class="folio-unranked" [routerLink]="false ? ['/content', candidate.placementView.caption] : null">
                  {{ candidate.placementView.caption }}
                </a>
                <span class="lastCol-member">+</span>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div style="width: 45%; padding-left: 5px">
      <div class="pitch-maker-header">Added: {{ slateMembersAdded().length }}</div>

      <div class="folio-container">
        <div
          cdkDropList
          #rankedList="cdkDropList"
          id="rankedDropList"
          [class.border-on-empty]="slateMembersAdded().length === 0"
          [cdkDropListData]="slateMembersAdded()"
          [cdkDropListConnectedTo]="[availableList]"
          (cdkDropListDropped)="drop($event)">
          <div class="folio-list ranked">
            @for (slateMember of slateMembersAdded(); track $index) {
              <div cdkDrag class="folio" id="cand-{{ slateMember.placementView.id }}" [attr.tabindex]="slateMember.placementView.id">
                <span class="folio-index" cdkDragHandle>{{ $index + 1 }}</span>
                <span class="folio-name" cdkDragHandle>
                  {{ slateMember.placementView.caption }}
                </span>
                <!-- <button class="lastCol-member" [routerLink]="['/content', slateMember.contentEntity.id]">&#8594;</button> -->
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="adminButtin" (click)="submitSlate()">Submit Slate</button>
