<div class="content-wrapper">
  <p>{{ placementView().caption }}</p>
  <div>
    @switch (contentType()) {
      @case ('jpeg') {
        <img [src]="contentPlayer()" alt="Content Image" />
      }
      @case ('topic') {
        <p>Topic</p>
      }
      @case ('pitch') {
        <mh5-pitch-chooser [id]="placementView().assetView.sourceId" />
      }
      @case ('youtubeshort') {
        <div class="container">
          <iframe
            width="315"
            height="560"
            frameborder="4"
            scrolling="no"
            allowfullscreen
            [src]="contentPlayer()"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
        </div>
      }

      @case ('tiktok') {
        <iframe
          width="340"
          height="700"
          [src]="contentPlayer()"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen="allowfullscreen"></iframe>
      }
      @default {
        <div class="container">
          <iframe frameborder="4" scrolling="no" allowfullscreen [src]="contentPlayer()" allow="autoplay; encrypted-media"></iframe>
        </div>
      }
    }
  </div>
</div>
