<p>new-placement works!</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-row">
    @if (form.get('contestTitle')?.invalid && form.get('contestTitle')?.touched) {
      <label for="contestTitle" class="warning">Contest Title is required</label>
    } @else {
      <label for="contestTitle">Contest Title</label>
    }
    <input id="contestTitle" formControlName="contestTitle" type="text" />
  </div>

  <div class="form-row">
    @if (form.get('contestDescription')?.invalid && form.get('contestDescription')?.touched) {
      <label for="contestDescription" class="warning">Contest Description is required</label>
    } @else {
      <label for="contestDescription">Contest Description</label>
    }
    <input id="contestDescription" formControlName="contestDescription" type="text" />
  </div>

  <div class="form-row">
    <label for="opens">Opens</label>
    <input id="opens" formControlName="opens" type="date" />
    @if (form.get('opens')?.invalid && form.get('opens')?.touched) {
      <div>Opening date is required.</div>
    }
  </div>

  <div class="form-row">
    <label for="closes">Closes</label>
    <input id="closes" formControlName="closes" type="date" />
    @if (form.get('closes')?.invalid && form.get('closes')?.touched) {
      <div>Closing date is required.</div>
    }
  </div>

  <div class="form-row">
    <label for="authorId">Author ID</label>
    <input id="authorId" formControlName="authorId" type="number" />
    @if (form.get('authorId')?.invalid && form.get('authorId')?.touched) {
      <div>Author ID is required.</div>
    }
  </div>

  <div class="form-row">
    <label for="topSlateId">Top Slate ID</label>
    <input id="topSlateId" formControlName="topSlateId" type="number" />
    @if (form.get('topSlateId')?.invalid && form.get('topSlateId')?.touched) {
      <div>Top Slate ID is required.</div>
    }
  </div>

  <button type="submit" [disabled]="form.invalid">Add Contest</button>
  <button class="cancelButton" (click)="cancel()">Cancel</button>
</form>
