@if (!hidePlacementViewer()) {
  @if (slateMember().placementView.assetView.mediaType === 'pitch') {
    <mh5-header callerPage="pitch" (hidePlacementViewer)="togglePlacementViewer($event)" [caption]="slateMember().placementView.caption" />
    <mh5-pitch-chooser [id]="slateMember().placementView.assetView.sourceId" />
  } @else {
    <div mh5SwipeRight (swipeRightDetected)="togglePlacementViewer(true)">
      <mh5-header callerPage="viewer" (hidePlacementViewer)="togglePlacementViewer($event)" />
      <div class="placement-viewer">
        <mh5-viewer [placementView]="slateMember().placementView" />
      </div>
    </div>
  }
} @else {
  <mh5-header callerPage="home" />
  <mh5-pitch-menu [returnToPitchFromView]="navigationId()" />
  <mh5-pitch-slate
    (hidePlacementViewer)="togglePlacementViewer($event)"
    (placementToDisplay)="setSlateMemberView($event)"
    (pitchToDisplay)="setPitchView($event)" />
}

<mh5-footer />
