.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  border-bottom: 2px solid #e0e0e0;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
  & {
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox
  }
  .placement-list {
    width: 30%;
  }

  .placement-info {
    width: 70%;
  }
  .menu-item {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    &.selected {
      border-bottom: 4px solid azure;
    }
    &:hover {
      border-bottom: 4px dotted grey;
    }
  }
}

.streamHeader {
  border-bottom: #aac solid 2px;
  margin-bottom: 2px;
}
.streamButton {
  text-emphasis: bold;
  background-color: #bb8;
}
.streamButton.selected {
  background-color: #bb5;
  color: black;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

/* folio-shell.component.scss */

.sectionTitle {
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: #ccf;
  margin-right: 8px;
}

.assetPanel {
  background-color: #334;
  flex-grow: 1;
}

@import '@shared/styles/asset-styles.scss';
