.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  border-bottom: 2px solid #e0e0e0;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
  & {
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox
  }
  .placement-list {
    width: 30%;
  }

  .placement-info {
    width: 70%;
  }
  .menu-item {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    &.selected {
      border-bottom: 4px solid azure;
    }
    &:hover {
      border-bottom: 4px dotted grey;
    }
  }
}

.streamHeader {
  border-bottom: #aac solid 2px;
  margin-bottom: 2px;
}
.streamButton {
  text-emphasis: bold;
  background-color: #bb8;
}
.streamButton.selected {
  background-color: #bb5;
  color: black;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

/* folio-shell.component.scss */

.signup-warning-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  padding: 20px;
}

.signup-warning {
  width: 400px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  background-color: #558; /* White background */
  border: 2px solid #007bff; /* Blue border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  justify-content: center; /* Centers text horizontally */
  align-items: center; /* Centers text vertically */
  text-align: center; /* Centers text */
  padding: 20px; /* Inner spacing */
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition:
    transform 0.2s,
    box-shadow 0.2s; /* Smooth transitions */
}

.signup-warning:hover {
  transform: scale(1.05); /* Slightly enlarges the square on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.signup-warning:focus {
  outline: none; /* Removes default focus outline */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Custom focus shadow */
}

.sectionTitle {
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: #ccf;
  margin-right: 8px;
}

.assetPanel {
  background-color: #334;
  flex-grow: 1;
}

@import '../../../core/styles/asset-styles.scss';
// .folio-column {
//   width: 35%;
// }
// .placement-column {
//   width: 35%;
// }
// .pitch-column {
//   width: 35%;
// }
