<mh5-header callerPage="folio" />

@if (newFolio()) {
  <mh5-folio-scroll-horizontal />
  <mh5-folio-new (closeNewFolioEditor)="closeNewFolio()" />
} @else {
  <mh5-folio-scroll-horizontal
    [theFoliosInput]="theFolios()"
    (newFolioEditorStateChange)="openNewFolio()"
    (newPlacementEditorStateChange)="openNewPlacement()" />

  <div class="horizontal-scroll">
    <div class="placement-list">
      <mh5-channel-tree [nodes]="folioTreeData()" />
    </div>
    <div class="placement-info">
      @if (newPlacement()) {
        <!-- <mh5-new-placement (closeNewPlacementEditor)="closeNewPlacement()" /> -->
        <mh5-folio-placement-new (closeNewPlacementEditor)="closeNewPlacement()" />
      } @else {
        <!-- <div (click)="openNewPlacement()" (keydown)="openNewPlacement()" tabindex="1">
          Add Placement to <br />{{ folioStore.folioViewSelected().folioName }}
        </div> -->
        <mh5-icon-plus (click)="openNewPlacement()" (keydown)="openNewPlacement()" tabindex="1" />
        <!-- <button (click)="openNewPlacement()" (keydown)="openNewPlacement()" tabindex="1">Add Placement</button> -->
      }
    </div>
  </div>
}
