<mh5-header callerPage="folio" />

<mh5-folio-scroll-horizontal [theFoliosInput]="theFolios()" [knownAuthors]="knownAuthors()" />
<div class="tabs streamHeader">
  @for (tab of tabs; track $index) {
    <button (click)="selectedTab = tab" class="streamButton" [class.selected]="selectedTab === tab">
      {{ tab.title }}
    </button>
  }
</div>
@if (needsAuthorName()) {
  <div class="signup-warning-container">
    <div
      (click)="openPage('/author')"
      (keydown.enter)="openPage('/author')"
      tabindex="0"
      aria-label="Signup Warning"
      class="signup-warning">
      To add and manage assets, please create a handle name for your author profile.
    </div>
  </div>
} @else {
  <div class="assetPanel">
    @switch (selectedTab.name) {
      @case ('Assets') {
        @if (showModalDialog()) {
          <mh5-folio-placement-new (closeNewPlacementEditor)="closeEditorDialog()" [forcePopup]="true" [assetType]="assetTypeSelected()" />
        } @else {
          <div style="display: flex; justify-content: space-between">
            <div class="folio-column">
              <div class="sectionTitle" (click)="openNewFolio()" (keydown)="openNewFolio()" tabindex="1">
                Folios
                <span style="margin-left: 8px">
                  <mh5-icon-plus />
                </span>
              </div>
            </div>

            <div class="placement-column">
              <div class="sectionTitle" (click)="openNewPlacement()" (keydown)="openNewPlacement()" tabindex="2">
                Placements
                <span style="margin-left: 8px">
                  <mh5-icon-plus />
                </span>
              </div>
            </div>

            <div class="pitch-column">
              <div class="sectionTitle" (click)="openNewPitch()" (keydown)="openNewPitch()" tabindex="3">
                Pitches
                <span style="margin-left: 8px">
                  <mh5-icon-plus />
                </span>
              </div>
            </div>
          </div>
        }
        <div>
          <mh5-asset-manager [folioList]="authorStore.authorSelectedFolioViews()" [tabSelected]="selectedTab.name" />
        </div>
      }

      @case ('Pitches') {
        <div>
          <mh5-asset-manager [folioList]="authorStore.authorSelectedFolioViews()" [tabSelected]="selectedTab.name" />
        </div>
      }
      @case ('Slates') {
        <div><mh5-backdoor /></div>
      }
    }
  </div>
}
