<mh5-header callerPage="folio" />

<mh5-folio-scroll-horizontal [theFoliosInput]="theFolios()" (newPlacementEditorStateChange)="openNewPlacement()" />

<div class="tabs streamHeader">
  @for (tab of tabs; track $index) {
    <button (click)="selectedTab = tab" class="streamButton" [class.selected]="selectedTab === tab">
      {{ tab.title }}
    </button>
  }
</div>

<div class="assetPanel">
  @switch (selectedTab.name) {
    @case ('Assets') {
      <div>
        <mh5-channel-assets [folioList]="authorStore.authorFolioViewList()" [tabSelected]="selectedTab.name" />
      </div>
      <div>
        <button (click)="runLog()">Import Test Data</button>
      </div>
      @if (newPlacement()) {
        <mh5-folio-placement-new (closeNewPlacementEditor)="closeNewPlacement()" [forcePopup]="true" />
      } @else {
        <mh5-icon-plus (click)="openNewPlacement()" (keydown)="openNewPlacement()" tabindex="1" />
      }
    }

    @case ('Pitches') {
      <mh5-channel-assets style="font-size: xx-small" [folioList]="authorStore.authorFolioViewList()" [tabSelected]="selectedTab.name" />

      @if (newPitch()) {
        <mh5-contest-new (closeNewPitchEditor)="closeNewPitch()" [forcePopup]="true" />
      } @else {
        <mh5-icon-plus (click)="openNewPitch()" (keydown)="openNewPitch()" tabindex="1" />
      }
    }
    @case ('Slates') {
      <div></div>
    }
  }
  <div></div>
</div>
<mh5-direct />
