@if (showPopup()) {
  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-header">
        <button type="submit" class="cancel-done" (click)="cancel()">Cancel/Done</button>
        <span>Folio selected: {{ folioStore.folioViewSelected().folioName }}</span>
      </div>

      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-row">
          <!-- <div class="add-folio"> -->
          <input id="caption" formControlName="caption" type="text" />
          <div>
            @if (formGroup.get('caption')?.invalid && formGroup.get('caption')?.touched) {
              <label for="caption" class="warning">Awaiting entry...</label>
            } @else {
              <label for="caption">Enter new {{ assetType() }} name. </label>
            }
          </div>
          <!-- </div> -->

          @if (newMedia() === true) {
            <div class="form-row">
              <textarea
                class="col1"
                formControlName="urlAdder"
                name="urlAdder"
                id="urlAdder"
                rows="5"
                (drop)="onDrop($event)"
                (input)="onInput($event)">
              </textarea>
              <div class="col2">
                <label for="urlAdder">Drop or paste URL </label>
              </div>
            </div>
          }

          <div class="colsBoth">
            <button type="submit" [disabled]="formGroup.invalid">
              @switch (assetType()) {
                @case ('folio') {
                  Add subfolio to {{ folioStore.folioViewSelected().folioName }};
                }
                @case ('placement') {
                  Add asset to folio {{ folioStore.folioViewSelected().folioName }};
                }
              }

              Adding {{ assetType() }} {{ folioStore.folioViewSelected().folioName }};
            </button>
          </div>
          <!-- <button class="col1" (click)="test()">Test</button>
          <button class="col2" (click)="cancel()">Cancel / Close</button> -->
        </div>
      </form>
      <!-- 
      @if (newMedia() === true) {
        <mh5-folio-placement-media [assetView]="assetViewPrepared()" />
      }
      @if (newPitch() === true) {
        <mh5-pitch-new />
      }

      <mh5-list-input /> -->
    </div>
  </div>
}
