@if (showPopup()) {
  <div class="modal-overlay">
    <div class="modal">
      <!-- <div class="checkbox-container">
        <!-- <label class="checkbox-label">
          <input type="checkbox" name="entryType" [ngModel]="newPlacement()" (ngModelChange)="newPlacement.set($event)" value="Caption" />
          Caption
        </label> 
        <label class="checkbox-label">
          <input type="checkbox" name="entryType" [ngModel]="newMedia()" (ngModelChange)="newMedia.set($event)" value="true" />
          Media
        </label>
        <label class="checkbox-label">
          <input type="checkbox" name="entryType" [ngModel]="newFolio()" (ngModelChange)="newFolio.set($event)" value="true" />
          Folio
        </label>
        <label class="checkbox-label">
          <input type="checkbox" name="entryType" [ngModel]="newPitch()" (ngModelChange)="newPitch.set($event)" value="true" />
          Pitch
        </label>
      </div> -->

      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-row">
          <div class="add-folio">
            <p>{{ assetType() }}</p>
            <label for="entryType">Entry Type</label>
            <input class="col1" id="caption" formControlName="caption" type="text" />
            <div class="col2">
              @if (formGroup.get('caption')?.invalid && formGroup.get('caption')?.touched) {
                <label for="caption" class="warning">Entry is required</label>
              } @else {
                <label for="caption">Enter Caption </label>
              }
            </div>
          </div>

          @if (newMedia() === true) {
            <div class="form-row">
              <textarea
                class="col1"
                formControlName="urlAdder"
                name="urlAdder"
                id="urlAdder"
                rows="5"
                (drop)="onDrop($event)"
                (input)="onInput($event)">
              </textarea>
              <div class="col2">
                <label for="urlAdder">Drop or paste URL </label>
              </div>
            </div>
          }

          <div class="colsBoth">
            <button type="submit" [disabled]="formGroup.invalid">
              Add {{ newPlacementType() }} to folio {{ folioStore.folioViewSelected().folioName }}
            </button>
          </div>
          <button class="col1" (click)="test()">Test</button>
          <button class="col2" (click)="cancel()">Cancel / Close</button>
        </div>
      </form>

      @if (newMedia() === true) {
        <mh5-folio-placement-media [assetView]="assetViewPrepared()" />
      }
      @if (newPitch() === true) {
        <mh5-pitch-new />
      }

      <mh5-list-input />
    </div>
  </div>
}
