.radio-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 1.2rem;
}

.radio-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.radio-label input[type='radio'] {
  margin-right: 8px;
}

.form-container {
  .form-row {
    label {
      grid-column: 2 / 3;
      text-align: left;
      margin-left: 1.5rem;
      color: #ddd;
    }

    // input,
    // button,
    textarea {
      padding: 0rem;
      font-size: xx-small;
      grid-column: 1 / 2;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box;
      margin-right: 0rem;
    }

    textarea {
      resize: vertical;
      // min-height: 100px;
    }
    div {
      grid-column: 1 / 2;
    }
    .col1 {
      grid-column: 1 / 2;
    }
    .col2 {
      grid-column: 2 / 3;
    }
    .colsBoth {
      grid-column: 1 / 3;
    }
  }
}
