@if (showConsentPopup()) {
  <div class="modal-overlay">
    <div class="modal">
      <div class="cookie-consent-title">Welcome to Mini Herald</div>
      <div class="cookie-consent">
        <div class="cookie-message">
          <p>
            Mini Herald uses cookies and local browser storage to enable its key features. By accepting, you unlock access to them.
            Otherwise, this app will place a single data crumb to memorialize your choice.
          </p>
        </div>
        <div class="button-list">
          <button class="button-accept" (click)="acceptCookies()">Accept Cookies !!</button>
          <br />
          <button (click)="declineCookies()">Decline Cookies :(</button>
        </div>
      </div>
    </div>
  </div>
}
