@if (showConsentPopup) {
  <div class="modal-overlay">
    <div class="modal">
      <h3>Welcome to Mini Herald</h3>
      <div class="cookie-consent">
        <div class="cookie-message">
          <p>Mini Herald may use cookies, local storage, and similar technologies to support various features on this site.</p>
          <p>If you decline to accept, feel free to browse around, though some features will not be accessible.</p>
          <p></p>

          <button (click)="acceptCookies()">Accept Cookies</button>
          <br />
          <button (click)="declineCookies()">Decline Cookies</button>
        </div>
      </div>
    </div>
  </div>
}
