@if (showConsentPopup()) {
  <div class="modal-overlay">
    <div class="modal">
      <div class="cookie-consent-title">Welcome to Mini Herald</div>
      <div class="cookie-consent">
        <div class="cookie-message">
          <p>Mini Herald currently relies on cookies and local storage to run this site.</p>
          <p>If you decline to accept, key features will not be accessible.</p>
          <p>
            Should you make such choice, you can change your mind later, but the browser on which you are reading this is still going to be
            left with a little data crumb somewhere to provide an indication that you declined.
          </p>
          <p></p>
        </div>
        <div class="button-list">
          <button class="button-accept" (click)="acceptCookies()">Accept Cookies !!</button>
          <br />
          <button (click)="declineCookies()">Decline Cookies :(</button>
        </div>
      </div>
    </div>
  </div>
}
